body {
    color: #555;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
}

.main-content {
    margin-top: 10%;
    text-align: center;
}

.main-content .profile-img {
    background: #000;
    border-radius: 50%;
    display: table-cell;
    height: 300px;
    margin: auto;
    max-width: 300px;
    overflow: hidden;
    width: 300px;
    vertical-align: middle;
}

.main-content .profile-img img {
    height: 100%;
    margin-left: -50px;
}

.profile-detail {
    border: 1px solid #999;
    border-radius: 50%;
    margin: auto;
    margin-bottom: 20px;
    padding: 5px;
    width: 310px;
}

.slogan {
    color: #999;
    font-size: 14px;
}

h1 {
    font-family: comfortaa
}

.footer {
    color: #ddd;
}

.fb {
    color: #4267B2;
}

.git {
    color: #24292E;
}

.in {
    color: #0077B5;
}

.all-right {
    font-size: 12px;
    margin-top: 10px;
}

html body a {
    color: #E91E63
}
